<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <connectionStrings>
        <add name="oficinaConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Oficina;Integrated Security=True"/>
        <add name="CSharp2.Capitulo02.Clientes.Properties.Settings.OficinaConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Oficina;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
