<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OficinaEntities" connectionString="metadata=res://*/OficinaModel.csdl|res://*/OficinaModel.ssdl|res://*/OficinaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Oficina;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StockQuoteSoap"/>
        <binding name="CalcPrecoPrazoWSSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="StockQuoteSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/stockquote.asmx" binding="basicHttpBinding" bindingConfiguration="StockQuoteSoap" contract="ConsultaPrecoServiceReference.StockQuoteSoap" name="StockQuoteSoap"/>
      <endpoint address="http://www.webservicex.net/stockquote.asmx" binding="customBinding" bindingConfiguration="StockQuoteSoap12" contract="ConsultaPrecoServiceReference.StockQuoteSoap" name="StockQuoteSoap12"/>
      <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap" contract="CorreiosServiceReference.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
