<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharp2.Capitulo03.Oficina.Properties.Settings.OficinaConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Oficina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>